PyAutoGUI
pyttsx3
requests
pywhatkit
winshell
wolframalpha
SpeechRecognition
speedtest_cli
pafy
python_vlc
pygame
pyjokes
clint
wikipedia
beautifulsoup4
PySimpleGUI
flask
youtube-dl
PyAudio-0.2.11-cp310-cp310-win_amd64.whl
